<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XmppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23C6A1731C44B90E00DAD20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C6A18C1C44B90E00DAD20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C6A1971C44B90E00DAD20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
